.about-grid {
  display: flex;
  gap: 20px;
}

.samRoblox {
  width: 476px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .sub-font {
    font-size: var(--caption-size);
    color: var(--text-gray);
  }
}

.about-socials {
  margin-top: 31px;
  display: flex;
  gap: 14px;

  img {
    height: 25px;
  }
}

/* ==== experience ==== */

.experiences-container {
  font-family: var(--text-font);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience-icon {
  height: 46px;
}

.experience-card {
  display: flex;

  gap: 21px;

  .date,
  .location,
  .description {
    color: var(--text-gray);
  }
}

.experience-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.title-date-row {
  display: flex;

  justify-content: space-between;
}

.experience-pictures {
  display: flex;

  img {
  }
}

@media only screen and (max-width: 1200px) {
  .about-text {
    width: 500px;
  }
}
