.about-grid {
  display: flex;
  gap: 20px;
}

.samRoblox {
  width: 476px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .sub-font {
    font-size: var(--caption-size);
    color: var(--text-gray);
  }
}

.about-socials {
  margin-top: 31px;
  display: flex;
  gap: 14px;

  img {
    height: 25px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-text {
    width: 500px;
  }
}
