/* === side bar ==== */

.sidebar {
  min-height: 100vh;
  padding: var(--sidebar-padding);
  padding-block: 0px;
  display: flex;

  flex-direction: column;
  width: 260px;
  flex-shrink: 0;
  max-width: 292px;
  background-color: var(--sidebar-bg);

  /* === my name  ==== */

  .name {
    color: white;
    font-size: 20px;
    font-weight: var(--bold-poppins);
  }

  .name-row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: var(--sidebar-padding);
  }
}

/* === navigation ===*/
.explore {
  background-color: var(--explore-bg);
  padding: var(--sidebar-padding);
  border-radius: 14px;
}

.explore p {
  color: white;
}

.sidebar-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  /* The buttons inside of the navbar */
  button {
    font-size: 16px;
    text-align: left;
    padding: 10px 10.5px;
    border-radius: 13px;
    border: 0px;
    color: var(--unselected-sidebar-text-color);
    background-color: transparent;
  }

  .selected {
    color: white;
    background-color: var(--sidebar-bg);
  }
}

.bottom-socials {
  margin-bottom: 20px;
  margin-top: auto;
  color: white;
}

.socials-row {
  display: flex;
  gap: 20px;

  .social {
    display: flex;
    gap: 2px;
  }
}

.bottom-socials > p:first-child {
  margin-bottom: 20px;
}

/* == tablet == */

@media only screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
