.main-sidebar .name {
  color: white;
  font-size: 20px;
  font-weight: var(--bold-poppins);
}

.main-sidebar .name-row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: var(--sidebar-padding);
}

.main-sidebar .explore {
  background-color: var(--explore-bg);
  padding: var(--sidebar-padding);
  border-radius: 14px;
}

.main-sidebar .explore > p {
  color: white;
}

.main-sidebar-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main-sidebar-nav button {
  font-size: 16px;
  text-align: left;
  padding: 10px 10.5px;
  border-radius: 13px;
  border: 0px;
  color: var(--unselected-sidebar-text-color);
  background-color: transparent;
  cursor: pointer;
}

.main-sidebar-nav > .selected {
  color: white;
  background-color: var(--sidebar-bg);
}

.main-sidebar-nav .about-group {
  display: flex;
  flex-direction: column;
  border-radius: 13px;
}

.main-sidebar-nav .about-group.selected {
  background-color: var(--sidebar-bg);
  padding-bottom: 4px;
}

.main-sidebar-nav .about-group.selected > button {
  color: white;
}

.main-sidebar .bottom-socials {
  margin-bottom: 20px;
  margin-top: auto;
  color: white;
}

.main-sidebar .socials-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-sidebar .socials-row .social {
  display: flex;
  gap: 2px;
}

.main-sidebar .bottom-socials > p:first-child {
  margin-bottom: 20px;
}

.main-sidebar .about-section {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.main-sidebar .about-titles {
  display: flex;
  align-items: center;
}

.main-sidebar .line {
  height: 39px;
  width: 1px;
  flex-shrink: 0;
  background-color: var(--unselected-sidebar-text-color);
}

.main-sidebar .line-active {
  background-color: white;
}

.main-sidebar .about-titles .sub-active {
  color: white;
}
