/* project banner! */

.project-banner {
  margin-top: 20px;
  width: 100%;
}

/* rest of internship info*/

.main-title {
  font-size: 53px;

  margin: 26px 0px;
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 74px;
}

.info-block {
  border-left: 2.5px solid var(--blue);
  margin-top: 19px;
  line-height: 24px;
  padding-left: 10px;
}

/* === article page stylings === */
.blue {
  color: #3b79ff;
}

.paragraph {
  margin-bottom: 79px;
  display: flex;
  flex-direction: column;

  /* gap: 13px; */

  .title-block {
    display: flex;
    flex-direction: column;

    gap: 3px;
  }

  .sub-header {
    font-family: var(--sub-font);
    color: var(--text-gray);
  }

  .header {
    font-family: var(--main-font);
    font-size: 36px;

    line-height: 54px;
    margin: 0px;
  }

  .text-block {
    font-family: var(--text-font);

    p {
      margin-top: 13px;
      line-height: var(--text-line-height);
    }
  }
}

/* Projects for Limbitless */
.project-container {
  margin-top: 94px;
  display: flex;

  flex-direction: column;
}

.project-block {
  display: flex;
}

.project-arrow {
  margin-top: 6px;

  margin-bottom: auto;

  transform: rotate(0deg);
}

.project-info {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;

  .project-subheader-row {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .project-subheader,
  .description {
    color: var(--text-gray);
  }

  .project-subheader {
    font-family: var(--sub-font);
  }

  .title {
    margin: 0px;

    font-size: 36px;
    font-family: var(--main-font);
  }

  .description {
    font-family: var(--text-font);
  }
}
.project-photo {
  margin-left: auto;

  background-color: var(--text-gray);

  width: 428px;
  height: 239px;
}

/* toggeable project information */

.project-toggle {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition:
    grid-template-rows 1s ease,
    opacity 0.5s ease;

  padding-left: 36px;
  margin-top: 26px;

  .project-toggle-inner {
    overflow: hidden;
    padding-left: 36px;
    margin-top: 26px;
  }

  .info-col > p {
    color: var(--text-gray);
  }

  .info-block {
    /* border-left: 0px;
  padding-left: 0px; */
    border-left: 2.5px solid var(--text-gray);
  }
}

/* animation */
.project-toggle.open {
  grid-template-rows: 1fr;
  opacity: 1;
}

.project-arrow {
  transition: transform 1s ease-in-out;
}
.project-arrow.open {
  transform: rotate(180deg);
}

/* images of project */

.project-images {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  img {
    flex: 1;
    min-width: 0;

    height: 300px;

    object-fit: contain;
  }
}
