@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --sidebar-bg: #242424;

  --explore-bg: #1e1e1e;

  --unselected-sidebar-text-color: #9f9fa3;

  --sidebar-padding: 20px;

  --blue: #3b79ff;
  --orange: #ffd15c;
  --text-gray: #757575;

  /* fonts + boldness */
  --sub-font: "Geist Mono";
  --text-font: "Inter";
  --main-font: "Poppins";

  --bold-poppins: 600;
  --normal-poppins: 400;

  --caption-size: 14px;

  --text-line-height: 26px;
}

body {
  margin: 0;
}

h2 {
  font-weight: var(--normal-poppins);
}
p {
  margin: 0;
}

/* === fonts === */
.main-font {
  font-family: var(--main-font);
}

.sub-font {
  font-family: var(--sub-font);
}

.text-font {
  font-family: var(--text-font);
}

/* === entire page === */
.app-layout {
  display: flex;
}

/* === main page === */
.main-content {
  width: 100%;
}
