@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --sidebar-bg: #242424;

  --explore-bg: #1e1e1e;

  --unselected-sidebar-text-color: #9f9fa3;

  --sidebar-padding: 20px;

  --blue: #3b79ff;

  /* fonts + boldness */
  --sub-font: "Geist Mono";
  --text-font: "Inter";
  --main-font: "Poppins";

  --bold-poppins: 600;
  --normal-poppins: 400;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

/* === fonts === */
.main-font {
  font-family: var(--main-font);
}

.sub-font {
  font-family: var(--sub-font);
}

/* === entire page === */
.app-layout {
  display: flex;
}

/* === main page === */
.main-content {
  width: 100%;
}

/* === project page teehee */

.projects {
  padding: 40px;
}

.hero-row {
  display: flex;

  border: 1px solid red;
  gap: 20px;
}

.info-column {
  border: 1px solid red;
}
.hey-its-sam {
  font-size: 40px;
}

.info-column h2 {
  font-weight: var(--normal-poppins);
  font-size: 30px;
}

.animation-of-me {
  margin-left: auto;
  position: relative;
}

.toolbox-row {
  top: 90%;
  left: 20%;
  padding: 5.6px;
  display: flex;
  height: fit-content;
  background-color: #242424;
  position: absolute;
  border-radius: 11.21px;
}

.toolbox-row img {
  /* background-color:  */
  width: 40px;
}

.no-break {
  white-space: nowrap;
}

.design-box {
  vertical-align: middle;
  height: 45px;
}

@media only screen and (max-width: 1350px) {
  .hey-its-sam {
    font-size: 30px;
  }
  .info-column .my-description {
    font-size: 25px;
  }
  .my-avatar {
    height: 250px;
  }

  .design-box {
    height: 39px;
  }
}

@media only screen and (max-width: 1200px) {
  * {
    color: red;
  }
}

@media only screen and (max-width: 813px) {
  * {
    color: green;
  }
  .info-column .my-description {
    font-size: 20px;
  }
  .design-box {
    height: 35px;
  }
  .hero-row {
    flex-wrap: wrap;
  }
  .animation-of-me {
    margin-left: 0px;
  }
}
