@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --sidebar-bg: #242424;

  --explore-bg: #1e1e1e;

  --unselected-sidebar-text-color: #9f9fa3;

  --sidebar-padding: 20px;

  --blue: #3b79ff;

  /* fonts + boldness */
  --sub-font: "Geist Mono";
  --text-font: "Inter";
  --main-font: "Poppins";

  --bold-poppins: 600;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

/* === fonts === */
.main-font {
  font-family: var(--main-font);
}

.sub-font {
  font-family: var(--sub-font);
}

/* === side bar ==== */

.sidebar {
  min-height: 100vh;
  padding: var(--sidebar-padding);
  padding-block: 0px;
  display: flex;

  flex-direction: column;
  max-width: 292px;
  background-color: var(--sidebar-bg);

  /* === my name  ==== */

  .name {
    color: white;
    font-size: 20px;
    font-weight: var(--bold-poppins);
  }

  .name-row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: var(--sidebar-padding);
  }
}

/* === navigation ===*/
.explore {
  background-color: var(--explore-bg);
  padding: var(--sidebar-padding);
  border-radius: 14px;
}

.explore p {
  color: white;
}

.sidebar-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  /* The buttons inside of the navbar */
  button {
    font-size: 16px;
    text-align: left;
    padding: 10px 10.5px;
    border-radius: 13px;
    border: 0px;
    color: var(--unselected-sidebar-text-color);
    background-color: transparent;
  }

  .selected {
    color: white;
    background-color: var(--sidebar-bg);
  }
}

.bottom-socials {
  margin-bottom: 20px;
  margin-top: auto;
  color: white;
}

.socials-row {
  display: flex;
  gap: 20px;

  .social {
    display: flex;
    gap: 2px;
  }
}

.bottom-socials > p:first-child {
  margin-bottom: 20px;
}
